.header-style{
   background: rgba(58, 57, 57, 0.596);
   line-height: 40px;
}
.header-style img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   margin-left: 20px;
  
} 
.header-style nav a{
   text-decoration: none;
   color: white;
   margin-right: 20px;
   font-size: 30px;
}
.header-style nav a:hover{
   color: rgb(17, 17, 17);
}